<div *ngIf="!common.noInternet">
    <app-navbar></app-navbar>
    <h4 class="title">Change Password</h4>

    <div class="container" *ngIf="!loading">
        <div class="row mt-2">
            <div class="container-fluid">
                <div class="page-header">

                    <form class="ng-pristine ng-valid ng-valid-email">
                        <div class="form-group" *ngIf="message !== ''">
                            <div class="alert alert-{{status}}">
                                <strong>{{message}}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                placeholder="Old Password" value="{{oldPassword}}"
                                (keyup)="onKeyUp($event, 'oldPassword')" />
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                placeholder="New Password" value="{{newPassword}}"
                                (keyup)="onKeyUp($event, 'newPassword')" />
                        </div>
                        <div class="form-group">
                            <label>Re-Password</label>
                            <input type="password" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                placeholder="Re-Password" value="{{rePassword}}"
                                (keyup)="onKeyUp($event, 'rePassword')" />
                        </div>

                        <div class="well">
                            <button type="button" class="btn btn-warning btn-md btn-block my-3"
                                (click)="handleChangePassword()"
                                [disabled]="unUseOldPassword || unUseNewPassword || unUseRePassword">Change</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #errorModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
    </div>
    <div class="modal-body">
        <p style="color: #fff !important;" [innerHtml]="errorMsg"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bas-bg col-5" (click)="modal.dismiss('Cross click')">Ok</button>
    </div>
</ng-template>

<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<div *ngIf="common.noInternet">
    <app-internet></app-internet>
</div>