<div *ngIf="!common.noInternet && !loading">
    <app-navbar></app-navbar>
    <h4 class="title">Forgot Password</h4>
    <div class="container">
        <div class="row mt-2">
            <div class="container-fluid">
                <div class="page-header">
                    <form class="ng-pristine ng-valid ng-valid-email">
                        <div class="form-group" *ngIf="message !== ''">
                            <div class="alert alert-{{status}}">
                                <strong>{{message}}</strong>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Email Id</label>
                            <input type="email" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                placeholder="Email Id" value="{{emailId}}" (keyup)="onKeyUp($event, 'emailId')" />
                            <span *ngIf="inValidEmailId" class="text-danger">Provide valid email id.</span>
                        </div>

                        <div class="well">
                            <button type="button" class="btn btn-warning btn-md btn-block my-3" (click)="sendEmail()"
                                [disabled]="unUseEmailId">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #errorModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
    </div>
    <div class="modal-body">
        <p style="color: #fff !important;" [innerHtml]="errorMsg"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn bas-bg col-5" (click)="modal.dismiss('Cross click')">Ok</button>
    </div>
</ng-template>

<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<div *ngIf="common.noInternet">
    <app-internet></app-internet>
</div>